<div class="flex items-center justify-center px-4" style="height: calc(100vh - 64px);">
    <div class="w-full max-w-xl">
        <div class="flex flex-col items-center justify-center">
            <img class="" src="https://cdn.discordapp.com/attachments/1021435603688099913/1043862658341949450/13_20221120191533.png" width="350px">
            <label class="-mt-8 flex justify-center text-3xl font-bold text-gray-900">เข้าสู่ระบบด้วยบัญชีของคุณ</label>
        </div>

        <form class="mt-8 space-y-6" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="rounded-md shadow-sm">
                <input type="email" class="input" placeholder="อีเมล (Example@gmail.com)" formControlName="email" required>
                <span *ngIf="!loginForm.get('email')?.valid" class="invalid-input" [hidden]="showValid">กรอกอีเมลให้ถูกต้อง</span>
            </div>

            <div class="rounded-md shadow-sm">
                <input type="password" class="input" placeholder="รหัสผ่าน (อย่างน้อย 8 ตัวอักษร)" formControlName="password" required>
                <span *ngIf="!loginForm.get('password')?.valid" class="invalid-input" [hidden]="showValid">กรอกรหัสให้ครบถ้วน(อย่างน้อย 8 ตัวอักษร)</span>
            </div>

            <button type="submit" class="button-primary">เข้าสู่ระบบ</button>
        </form>
        <label class="flex justify-center text-md text-gray-900 mt-3">หากคุณยังไม่มีบัญชีผู้ใช้
            <a routerLink="../register" class="ml-3 text-md text-green-600">ลงทะเบียนที่นี่</a>
        </label>
    </div>
</div>