<div class="box bg-neutral-800 relative">
    <img [src]="imgList[2].src" class="absolute right-0 top-0 hidden md:block ">
    <p class="text-6xl text-white center">Gunda Shop</p>
    <img [src]="imgList[4].src" class="scale-115 absolute -left-64 bottom-0 hidden md:block ">
</div>

<div>
    <p class="text-5xl text-center mt-16">Feature Product</p>
    <div class="grid grid-cols-2 gap-4 p-20">
        <div class="bg-gray-200 rounded shadow">01</div>
        <div class="bg-gray-200 rounded shadow">09</div>
    </div>
</div>