.box {
    height: calc(100vh - 96px);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reccommend-item {
    width: 100%;
    height: 40em;
    transition: all 0.5s;
}

.delay {
    transition: all 0.5s;
}

.delay:hover {
    transition: all 0.6s;
    transform: scale(1.05);
}

.img-landing {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    height: calc(100vh - 96px);
}

.font-custom {
    margin: 2rem;
    font-size: 8rem;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 25%);
    z-index: 5;
    animation: move 3s linear infinite alternate;
}

@keyframes move {
    0% {
        bottom: 0px;
    }

    25% {
        bottom: 15px;
    }

    50% {
        bottom: 30px;
    }

    75% {
        bottom: 15px;
    }

    100% {
        bottom: 0px;
    }
}