<header class="bg-white mt-8">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
        <label class="flex justify-center text-3xl font-bold tracking-tight text-gray-900">PG : Perfect Grade</label>
        <div class="flex justify-center mt-3">
            <label class="text-xl w-7/12 text-center tracking-tight text-gray-400">
                โมเดลเกรด เกรด PG ไม่เพียงแต่จะมีรายละเอียดที่มากที่สุด มีกลไกที่ดีที่สุด และยังมี <br>
                สเกลใหญ่ที่สุดในตลาดอีกด้วย รุ่นนี้มีขนาดอยู่ที่ 1/60 ซึ่งสูงประมาณ 30 เซนติเมตร!
            </label>
        </div>
    </div>
</header>

<main>
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

            <div *ngFor="let perfectgrade of perfectGradeList" class="group relative">
                <div class="min-h-80 w-full aspect-w-1 aspect-h-1 lg:aspect-none lg:h-80 overflow-hidden category-item">
                    <img [src]="perfectgrade.productURL" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                </div>
                <div class="mt-4 flex justify-between px-3">
                    <p class="text-lg text-gray-700"><a href="#">{{ perfectgrade.name }}</a></p>
                    <p class="text-md font-bold text-gray-900">{{ perfectgrade.price | currency:'THB':'symbol-narrow':'' }}</p>
                </div>
            </div>
        </div>
    </div>
</main>