<header class="bg-white mt-8">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
        <label class="category-title">HG : High Grade</label>
        <div class="flex justify-center mt-3">
            <label class="category-subtitle">
                โมเดลเกรด HG มีอัตราส่วนอยู่ที่ 1/144 (ประมาณ 13 เซนติเมตร) เกรดนี้มีลักษณะที่สมจริง
                และมีรายละเอียดมาก จุดเด่นของรุ่น HG คือป้ายตัวอักษรสีทอง และภาพภูมิทัศน์หลังหุ่น
            </label>
        </div>
    </div>
</header>

<main>
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

            <div *ngFor="let highGrade of highGradeList" class="group relative">
                <div class="min-h-80 w-full aspect-w-1 aspect-h-1 lg:aspect-none lg:h-80 overflow-hidden category-item">
                    <img [src]="highGrade.productURL" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                </div>
                <div class="mt-4 flex justify-between px-3">
                    <p class="text-lg text-gray-700"><a href="#">{{ highGrade.name }}</a></p>
                    <p class="text-lg font-bold text-gray-900">{{ highGrade.price | currency:'THB':'symbol-narrow':'' }}</p>
                </div>
            </div>
        </div>
    </div>
</main>