<nav class="bg-neutral-900">
    <div class="mx-auto max-w-7xl py-1 sm:px-6 lg:px-8">
        <div class="flex h-20 items-center justify-between">
            <div class="flex items-center">
                <a routerLink="home">
                    <img class="h-32 w-32"
                        src="https://cdn.discordapp.com/attachments/1021435603688099913/1037374937096261692/13_20221102213655.png">
                </a>
                <div class="ml-10 flex items-center space-x-5">
                    <a class="item-navbar" routerLinkActive="item-navbar-active" routerLink="category/high-grade">High
                        Grade</a>
                    <a class="item-navbar" routerLinkActive="item-navbar-active" routerLink="category/real-grade">Real
                        Grade</a>
                    <a class="item-navbar" routerLinkActive="item-navbar-active"
                        routerLink="category/master-grade">Master Grade</a>
                    <a class="item-navbar" routerLinkActive="item-navbar-active"
                        routerLink="category/perfect-grade">Perfect Grade</a>
                    <a class="item-navbar" routerLinkActive="item-navbar-active" routerLink="category/tool">Tools</a>
                </div>
            </div>
            <div class="ml-4 flex items-center md:ml-6">
                <button type="button" class="text-gray-400 hover:text-white" routerLink="/cart">
                    <i class="pi pi-shopping-cart p-2" style="font-size: 1.5rem"></i>
                </button>

                <div class=" flex items-center ml-3 p-1" *ngIf="user | async as user; else login">
                    <button type="button" class="avatar-active" (click)="menu.toggle($event)">
                        <p class="avatar">
                            {{ user.firstname | slice:0:1 }}{{ user.lastname | slice:0:1}}
                        </p>
                    </button>
                    <p-menu #menu [popup]="true" [model]="items" styleClass="mt-3 -ml-40"></p-menu>
                </div>

                <ng-template #login>
                    <button type="button" class="px-8 py-1 ml-2  rounded-md text-white bg-neutral-600 "
                        routerLink="/login">Sign In</button>
                </ng-template>
            </div>
        </div>
    </div>
</nav>