/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {

    .item-navbar{
        @apply px-3 py-2 rounded-md text-sm font-medium
        text-neutral-100
        hover:bg-neutral-700 hover:text-white;
    }
    .item-navbar-active{
        @apply px-3 py-2 rounded-md text-sm font-medium
        bg-neutral-700 text-white  
        hover:bg-neutral-700 hover:text-white;
    }

    .input {
        @apply w-full rounded-md border border-gray-300 px-3 py-3 text-gray-900 placeholder-gray-500 
        focus:z-10 focus:border-gray-500 focus:outline-none focus:ring-gray-500 sm:text-sm;
    }

    .button-primary {
        @apply flex w-full justify-center rounded-md border border-transparent py-2 px-4 
        bg-neutral-600 text-lg text-white 
        hover:bg-neutral-700 
        focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:ring-offset-2;
    }

    .button-secondary {
        @apply flex w-full justify-center rounded-md border border-transparent py-2 px-4 
        bg-inherit text-lg text-neutral-600 border-neutral-600
        hover:bg-inherit  hover:text-neutral-700 hover:border-neutral-700
        focus:outline-none focus:ring-2 focus:ring-neutral-700 focus:ring-offset-2;
    }

    .button-tertiary  {
        @apply flex w-full justify-center rounded-md border border-transparent py-2 px-4 
        bg-inherit text-lg text-neutral-600
        hover:bg-inherit  hover:text-neutral-700
    }

    .category-title {
        @apply flex justify-center text-3xl font-bold tracking-tight 
        text-neutral-900;
    }

    .category-subtitle {
        @apply text-xl w-7/12 text-center tracking-tight 
        text-neutral-400;
    }

    .category-item {
        @apply rounded-lg border border-neutral-300 group-hover:opacity-90 group-hover:border-neutral-800
        shadow-[inset_00_-15px_50px_1px_rgba(0,0,0,0.15)];
    }

    .invalid-input{
        @apply text-red-500 text-sm ml-2;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
